@tailwind base;
@tailwind components;
@tailwind utilities;

.toast-animation {
    animation: scaleUp 0.3s ease-out;
  }

  @keyframes scaleUp {
    from {
      transform: scale(0);
      opacity: 0;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
}
    to {
      transform: scale(1);
      opacity: 1;
    }
  }